Source: xudnsd
Section: net
Priority: optional
Maintainer: struktur AG <opensource@struktur.de>
Uploaders: Simon Eisenmann <simon@struktur.de>
Build-Depends: debhelper (>= 9),
               dh-golang,
               golang-go (>= 1.2.0),
               golang-dns-dev
Standards-Version: 3.9.5

Package: golang-xudnsd-dev
Architecture: all
Depends: ${misc:Depends},
         golang-dns-dev
Description: Xudnsd development Go package
 Xudnsd development Go package

Package: xudnsd
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: A tiny single host DNS server 
 A tiny DNS server to provide a single host via DNS

